<h1 class="text-center mt-4">Welcome to harmonius</h1>
<div class="text-center">
    <a href="/dashboard">
        <button type="button" class="btn btn-primary">Login</button>  
    </a>  
</div>  


