<div class="d-flex flex-row justify-content-center align-items-center">
    <div id="left-side" class="d-flex flex-column justify-content-center align-items-center w-50">
        <img id="home-page-logo" src="/assets/logo-home.png" alt="harmonious-logo">
        <h4 class="display-4 home-text mb-4">Worry less about project managment</h4>
        <h4 class="display-4 home-text mt-4">Find harmony with your peers</h4>
    </div>
    <div id="right-side" class="d-flex flex-column justify-content-center align-items-center w-50">
        <h4 class="display-4 text-white mb-4">Get Started</h4>
        <div class="text-center mt-4">
            <a href="/dashboard">
                <button type="button" class="btn login-btn text-white">Login</button>  
            </a>  
        </div>
    </div>

</div>


