<div class="d-flex justify-content-center align-items-center w-100 h-100 mt-5 flex-column">
  <img class="w-25" src="/assets/Not Authorized to view.png" />
  <a href="/dashboard"><button class="btn btn-primary">Go back to dashboard</button></a>
</div>