:root {
    --text-gray: #575757;
    --btn-green: #BDE4B3;
    --btn-text-green: #687E62;
    --light-blue: #DDE9FF;
    --dark-blue: #5A5985;
    --yellow: #FCFFDD;
    --text-yellow: #9A6600;
    --light-green: #E4FFDD;
    --text-green: #628559;
    --light-orange: #FFF2DD;
    --light-red:#FFDDDD;
    --red-text: #9A0000;
}

.nav-link {
    color:white !important;
    font-size: 1.5rem !important;
}

.nav-link:hover {
    color: #9e0000 !important;
}

.nav-title {
    font-size: 2rem !important;
}

.datepicker {
    width: 200px;
    padding-left: 20px !important;
}

.day:hover {
    cursor: pointer !important;
    background-color: lightgray;
}
.day {
    border: lightgray 1px solid;
    padding: 2px !important;
    text-align: center;
}

.modal {
    --bs-modal-width: 600px !important;
}

#result {
    border: 1px dotted #ccc;
    padding: 3px;
  }
  #result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #result ul li {
    padding: 5px 0;
  }
  #result ul li:hover {
    background: #eee;
  }

  #update-result {
    border: 1px dotted #ccc;
    padding: 3px;
    width: 45%;
  }
  #update-result ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #update-result ul li {
    padding: 5px 0;
  }
  #update-result ul li:hover {
    background: #eee;
  }

.remove-collab{
    margin-left: .5rem;
    font-size: 1.2rem;
}
.remove-collab:hover{
    color: rgb(0, 0, 0) ;
}

.collab{
    font-size: 1rem !important;
    font-weight: 300 !important;
}

#project-collaborators{
    border: 1px #dee2e6 solid !important;
    border-radius: 0.365rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display:block !important;
    width:100% !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;

}

#project-collaborators:focus{
    border: rgba(13, 110, 253, 0.25) !important;
}

.nav-item {
    font-size: 1.5rem !important;
}

.nav-btn{
    background-color: rgb(33, 37, 41);
    color: white;
    border: none;
}

.nav-btn:hover {
    color: #9e0000 !important;
}

#top-section{
    width: 95%;
    margin-top: 3%;
    margin-left: 2%;
}


.top-row{
    color: var(--text-gray) !important;
    font-weight: 400;
}

.title-row{
    width: 20% !important;
}

.description-row{
    width: 40% !important;
}

.description{
    color: var(--text-gray) !important;
}

.view-more-btn{
    background-color: var(--btn-green) !important;
    color: var(--btn-text-green);
}

.table-btn{
    white-space: nowrap;
}

#task-card{
    margin-right: 3%;
    height: 70% !important;
    overflow: scroll;
    height: max-content !important;
}

.task-stats {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    
}

#project-stats{
    height: max-content !important;
}

.dash-bx{
    padding: 8px;
    border-radius: 50px; 
    margin-right: 20px;
}

.bx-note{
    background-color: lightgrey;
}

.bx-loader{
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.bx-pause-circle{
    background-color: var(--light-orange);
    color: var(--text-yellow);
}

.bx-check-circle {
    background-color: var(--light-green);
    color: var(--text-green);
}

.table-container{
    height: 70% !important;
    overflow: scroll;
}

.cell-content{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.priority, .status{
    border-radius: 20px;
    
}
.red{
    background-color: var(--light-red);
    color: var(--red-text);
}

.orange{
    background-color: var(--light-orange);
    color: var(--text-yellow);
}

.blue{
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.green{
    background-color: var(--light-green);
    color: var(--text-green);
}

.task-boxes{
    height: 97.5% !important;
    width: 33% !important;
    overflow:scroll
}

.bx-dots-vertical-rounded{
    font-size: 1.5rem;
}

.project-nav-link{
    font-size: 1rem !important;
}

#upcoming-tasks{
    margin: 2%;
}
